azure-identity >= 1.12.0, < 2
google-cloud-storage >= 1.38.0, < 2
gs-chunked-io >= 0.5.1, < 0.6
firecloud
bgzip >= 0.3.5
cli-builder >= 0.1.5, < 0.2
oauth2client
jmespath == 0.10.0
getm >= 0.0.4, < 0.1.0
jsonschema
requests <= 2.29.0
urllib3 <= 1.26.19
